In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl 
import matplotlib.pyplot as plt 
from sklearn.datasets import fetch_openml

mnist = fetch_openml('mnist_784', version=1)



# IMporting

In [ ]:
X, y = mnist["data"], mnist["target"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [ ]:

from sklearn.neighbors import KNeighborsClassifier

In [ ]:
KNeighborsClassifier.get_params
from sklearn.model_selection import GridSearchCV
gs = GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors':[1,2,3,4,5,6,7,8,9,10]}
             ,cv=3)

gs_results = gs.fit(X_train,y_train)

In [ ]:
pd.DataFrame(gs.predict(X_test))

       0
0      8
1      4
2      8
3      7
4      7
...   ..
23095  8
23096  4
23097  7
23098  2
23099  5

[23100 rows x 1 columns]

In [ ]:
pd.DataFrame(y_test)

      class
46730     8
48393     4
41416     8
34506     7
43725     7
...     ...
34382     8
65822     4
4116      7
31281     2
34561     5

[23100 rows x 1 columns]